@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap");

* {
  padding: auto;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  font-family: "Aref Ruqaa Ink", serif;
}

html {
  background: url(assets/images/background-clean.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title h1 {
  font-size: 3rem;
}

.title p {
  font-size: 1.6rem;
}

.title h2 {
  font-size: 2rem;
}

a {
  padding-left: 50%;
}
