@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aref Ruqaa Ink", serif;
}

div {
  justify-content: space-around;
  position: relative;
  margin-top: 3%;
  text-align: center;
}

.go-back {
  margin-top: 10px;
  padding-left: 20px;
  height: 4rem;
  width: 7rem;
}